body {
    background-color: #fff;
}

.main-window {
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

h4.assistance {
    margin-bottom: 20px;
    text-align: center;
}

.title-local,
.title-visit {
    font-size: 20px;
    line-height: 50px;
}

.title-local svg,
.title-visit svg {
    vertical-align: bottom;
}

.title-local .title-local-shortname,
.title-visit .title-visit-shortname {
    display: none;
}

.title-local {
    text-align: right;
}

.title-goals {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.title-visit {
    text-align: left;
}

.timeline-wrapper {
    padding-bottom: 40px;
}

.time {
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
}

#timeline {
    background-color: #f00;
    background: -webkit-linear-gradient(left, #0f0, #f00);
    background: -o-linear-gradient(right, #0f0, #f00);
    background: -moz-linear-gradient(right, #0f0, #f00);
    background: linear-gradient(to right, #0f0, #f00);
    border: solid 1px #000;
    height: 4px;
    overflow: hidden;
    position: relative;
    top: -12px;
    width: 100%;
}

#timeline-marker {
    left: -3px;
    position: relative;
    top: 23px;
    width: 7px;
}

#timeline-progress {
    background-color: #fff;
    height: 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#timeline-markers {
    height: 12px;
    position: relative;;
    left: -3px;
    top: -19px;
    width: 100%;
}

#timeline-markers span {
    position: absolute;
}

.fa-square-yellow {
    color: #ff0;
}

.fa-square-red {
    color: #f00;
}

.broadcast-wrapper {
    background-color: #eee;
    border: solid 1px #000;
    height: 128px;
    overflow-y: auto;
}

.stats-wrapper {
    border: solid 1px #000;
    text-align: center;
}

.match-other-wrapper {
    position: fixed;
    right: 0;
    top: 10px;
}

.match-other {
    font-size: 16px;
    padding: 10px 0;
}

.match-other div {
    padding: 0;
    text-align: center;
}

.match-other>div:nth-child(2) {
    font-size: 24px;
    line-height: 50px;
}

#live-loading {
    background-color: #000;
    color: #fff;
    height: 100%;
    opacity: 0.75;
    padding-top: 20%;
    position: fixed;
    text-align: center;
    width: 100%;
}

#jplayer-final-whistle,
#jplayer-goal,
#jplayer-whistle {
    display: none;
}

@media screen and (max-width: 1100px) {
    .title-local .title-local-name,
    .title-visit .title-visit-name {
        display: none;
    }

    .title-local .title-local-shortname,
    .title-visit .title-visit-shortname {
        display: inline;
    }
}

@media screen and (max-width: 1010px) {
    .title-goals {
        font-size: 24px;
    }
}

@media screen and (max-width: 990px) {
    .match-other-wrapper svg {
        display: none;
    }

    .match-other>div {
        font-size: 14px;
        line-height: 14px;
    }

    .match-other>div:nth-child(2) {
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
    }
}

@media screen and (max-width: 767px) {
    .match-other-wrapper {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .title-local svg,
    .title-visit svg {
        display: none;
    }

    .title-local,
    .title-visit,
    .title-goals {
        font-size: 20px;
    }
}